/* 
    -------------HEADER OF YELLOW BOX--------------
*/
header{
    color: #ED254E;
    padding-bottom: 15px;
    font-size: 30px;
    font-family: 'Zen Tokyo Zoo', cursive;
    letter-spacing: 1.2px;
}